<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis的相关核心配置 -->
<configuration>
	<!-- 加载jdbc.properties数据库相关文件 -->
	<!-- <properties resource="jdbc.properties" /> -->
	<settings>
	 	<!-- log4j -->
		<setting name="logImpl" value="LOG4J"/>
		<setting name="autoMappingBehavior" value="FULL"/>
		<!-- 配置使全局的映射器启用或禁用缓存 -->
		<setting name="cacheEnabled" value="true"/>
		<!-- 允许JDBC支持生成的键,需要合适的驱动。如果设置为true,则这个设置强制生成的键被使用，尽管一些驱动拒绝兼容但仍然有效 -->
		<setting name="useGeneratedKeys" value="true"/>
		<!-- 配置默认的执行器，SIMPLE执行器没有特别之处，REUSE执行器重用预处理语句，BATCH执行器重用语句和批量更新 -->
		<setting name="defaultExecutorType" value="REUSE"/>
		<!-- 配置全局或禁用延迟加载，当禁用时，所有关联对象都会即时加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 配置超时时间，他决定驱动等待一个数据库响应的时间 -->
		<setting name="defaultStatementTimeout" value="25000"/>
	</settings>
	
	<!-- 别名 -->
	<typeAliases>
		<typeAlias type="lxf.incast.entity.Record" alias="record"/>
		<typeAlias type="lxf.incast.entity.GradeTable" alias="gradeTable"/>
		<typeAlias type="lxf.incast.entity.User" alias="user"/>
		<typeAlias type="lxf.incast.entity.University_Town_2016" alias="university"/>
		<typeAlias type="lxf.incast.entity.Teachers" alias="teachers"/>
	</typeAliases>
	<!-- <environments default="mysql">
		环境配置，链接的数据库
		<environment id="mysql">
			指定事物为JDBC
			<transactionManager type="JDBC">
				<property name="autoCommit" value="true" />
			</transactionManager>
			dataSource数据源
			<dataSource type="POOLED">
				<property name="url" value="${url}" />
				<property name="driver" value="${driverClass}" />
				<property name="username" value="${user}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments> -->
	<!-- mappers告诉Mybatis去哪里找相关映射 -->
	<mappers>
		<mapper resource="lxf/incast/mapper/RecordMapper.xml"/>
		<mapper resource="lxf/incast/mapper/GradeTableMapper.xml"/>
		<mapper resource="lxf/incast/mapper/UserMapper.xml"/>
		<mapper resource="lxf/incast/mapper/AccountMapper.xml"/>
		<mapper resource="lxf/incast/mapper/Teachers_university.xml"/>
	</mappers>
</configuration>