<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis的相关核心配置 -->
<configuration>
	<!-- 加载jdbc.properties数据库相关文件 -->
	<!-- <properties resource="jdbc.properties" /> -->
	<settings>
	 	<!-- log4j -->
		<!-- <setting name="logImpl" value="LOG4J"/>
		<setting name="autoMappingBehavior" value="FULL"/> -->
		<!-- 配置使全局的映射器启用或禁用缓存 -->
		<setting name="cacheEnabled" value="true"/>
		<!-- 允许JDBC支持生成的键,需要合适的驱动。如果设置为true,则这个设置强制生成的键被使用，尽管一些驱动拒绝兼容但仍然有效 -->
		<setting name="useGeneratedKeys" value="true"/>
		<!-- 配置默认的执行器，SIMPLE执行器没有特别之处，REUSE执行器重用预处理语句，BATCH执行器重用语句和批量更新 -->
		<setting name="defaultExecutorType" value="REUSE"/>
		<!-- 配置全局或禁用延迟加载，当禁用时，所有关联对象都会即时加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 配置超时时间，他决定驱动等待一个数据库响应的时间 -->
		<setting name="defaultStatementTimeout" value="25000"/>
	</settings>
	
	<!-- 别名 -->
	<typeAliases>
		<!-- 访问信息 -->
		<typeAlias type="lxf.incast.entity.Record" alias="record"/>
		<!-- 1610成绩 -->
		<typeAlias type="lxf.incast.entity.GradeTable" alias="gradeTable"/>
		<!-- 用户 -->
		<typeAlias type="lxf.incast.entity.User" alias="user"/>
		<!-- 大学城信息 -->
		<typeAlias type="lxf.incast.entity.University_Town_2016" alias="university"/>
		<!-- 指导老师实体类 -->
		<typeAlias type="lxf.incast.entity.Teachers" alias="teachers"/>
		<!-- 用户(包含界面颜色) -->
		<typeAlias type="lxf.incast.pojo.User_Color" alias="user_Color"/>
	</typeAliases>
	
	<!-- mappers告诉Mybatis去哪里找相关映射 -->
	<mappers>
		<!-- 访问 -->
		<mapper resource="lxf/incast/mapper/RecordMapper.xml"/>
		<!-- 1610成绩 -->
		<mapper resource="lxf/incast/mapper/GradeTableMapper.xml"/>
		<!-- 用户 -->
		<mapper resource="lxf/incast/mapper/UserMapper.xml"/>
		<!-- 用户账号 -->
		<mapper resource="lxf/incast/mapper/AccountMapper.xml"/>
		<!-- 大学城信息 -->
		<mapper resource="lxf/incast/mapper/Teachers_university.xml"/>
		<!--  -->
	</mappers>
</configuration>