<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间 -->
<mapper namespace="lxf.incast.dao.GradeTableDao">
	<!-- 查询全部成绩 -->
	<select id="getGradeTableList" resultType="lxf.incast.entity.GradeTable">
		SELECT * FROM gradetable
	</select>
</mapper>

